        <footer class="page-footer" >
          <div class="container">
            <div class="row">
              <div class="col l6 s12" >
                <h5 class="white-text">Visitory</h5>
                <p class="grey-text text-lighten-4">Write your travel experience</p>
              </div>
              <div class="col l4 offset-12 s12">
                <h6 class="white-text"><u>Links</u></h6>
                <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                <li><a class="grey-text text-lighten-3" href="/visitories">Visitories</a></li>
                
                <ul>  
                  {{!-- <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> --}}
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Visitory
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>